
.mainBody{
	margin-top: 100px;
}

h1 {
	padding: 10px;
}
p {
	padding: 10px;
}
img {
	padding: 5px;
}
h2 {
	padding: 10px;
}
h3 {
	padding: 10px;
}


* {
    font-family: 'Segoe UI', sans-serif;
}

.btn {
    background-color: #0067B8;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}   

.btn:hover {
    background-color: #00599E;
} 

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures elements spread out */
    width: 100%;
}

.search-area {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes search and user button to the right */
}

form.example {
    display: flex;
    align-items: center;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 250px;
	height: 36px;
    border-radius: 5px;
}

form.example button {
    padding: 10px;
    background: #0078D4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

form.example button:hover {
    background: #00599E;
}

.user-button {
    font-size: 20px;
    margin-left: 5px;
	margin-right: 20px;
	background-color: #0067B8;
    border: none;
    color: white;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.user-button:hover {
    background-color: #00599E;
}


.topnav img {
    height: 40px;
    margin-right: 10px;
}

.topnav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: background 0.3s;
}
.topnav h1 {
	padding-right: 40px;
}

.topnav a:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.topnav a.active {
    background-color: #0078D4;
    color: white;
    border-radius: 4px;
}

.mainBody {
    margin-top: 80px;
    padding: 40px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* Footer */
footer {
    text-align: center;
    background: white;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);
}

footer img {
    height: 50px;
    margin-top: 10px;
}
.notLink {
	text-decoration: none;
}














/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/
